* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
   --primary-color: #ffbf00;
   --secondary-color: whitesmoke;
   --dark-color: black;
   --light-color: white;
   --border-color: gray;
   --text-color: #6c757d;
}
.dark-theme{
  --primary-color: #ffbf00;
  --secondary-color: black;
  --dark-color: white;
  --light-color: #212121 ;
  --border-color: gray;
  --text-color: white;
}
/* #121212 
#181818 
#212121 
#36454f
#36454F (Charcoal) 
#5A5A5A (Dark Grey)  */

body{
  min-height: 100vh;
  background-color: var(--light-color) !important;
}
section{
  padding-top: 3.5%;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary-color);
  border-radius: 4px;
}
.text-muteds {
  color: var(--text-color) !important;
}
a{
  text-decoration: none !important;
  color: var(--dark-color) !important;
}
a:hover {
  color: var(--dark-color) !important;
}
svg{
  fill: var(--dark-color) !important;
}
.navbar {
  position: absolute;
  background-color: var(--light-color);
  border-bottom: 2px solid var(--border-color);
  flex-wrap: unset !important;
  z-index: 1;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex: 1;
  text-align: right;
}
.nav2{
  flex: 0;
  text-align: left;
}

.navbar-brand {
  font-weight: 600;
  background: linear-gradient(45deg, rgb(49, 48, 48), var(--primary-color));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
  margin-bottom: 0;
  margin-right: 0;
}
.nav-l {
  display: block;
  padding: .2rem 1rem;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-l:hover {
  background: linear-gradient(45deg, rgb(49, 48, 48), var(--primary-color));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
  border: none;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: var(--secondary-color);
  box-shadow: 5px 5px 10px var(--border-color);
  transform: scale(1.2) translateY(-2px);
}
.nav-2 {
  display: block;
  margin: 5px 15px;
  padding: .2rem 1rem;
  font-weight: 600;
  color: var(--dark-color);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.nav-2:hover{
  background: linear-gradient(90deg, rgb(235, 175, 87), var(--primary-color));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
  width: 40%;
  background-color: var(--secondary-color);
  box-shadow: 5px 5px 10px var(--border-color);
  transform: scale(1.2) translateY(-2px);

}
.nav-3 {
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 250px;
  padding: .2rem 1rem;
  font-weight: 600;
}

.container-flui {
  flex-wrap: inherit;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  /* background-color: var(--dark-color); */
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(235, 147, 15, 0);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
.sidebar li {
  width: 100%;
  
}
.sidebar a {
  width: 50%;
}
.nav-item2 svg{
  margin-left: 270px;
  margin-top: 15px;
  cursor: pointer;
}
.hideOnLargeScreen {
  display: none;
}
.hideOnMobile {
  display: flex;
}

.theme{
  margin-left: 20px;
  margin-right: 20px;
  background: var(--secondary-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.theme img{
  object-fit: cover;
  padding: 5.5px 5.5px;
} 


/* Up Arrow */
.scroll-Arrow{
  background-color: var(--primary-color);
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 65px;
  width: 65px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0 , 0 , 0 , 0.2);
  cursor: pointer;
  z-index: 1999;
}
.uparrow {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0.65em;
  font-size: 25px;
  color: var(--primary-color);
}

/*=================================================================== Responsive Media Queries ============================================================== */
@media (min-width: 1200) and (max-width: 1499.98px) {}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .navbar {
    position: relative;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .nav-l {
    padding: .6rem;

  }
  .scroll-Arrow{
    height: 55px;
    width: 55px;
  }  
  .uparrow {
    padding: 0.65em;
    font-size: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar {
    position: relative;
  }
  .navbar-brand {
    font-size: 1rem;
  }
  .hideOnMobile{
    display: none;
  }
  .hideOnLargeScreen{
    display: flex;
  }
  .theme{
    margin-left: 10px;
    margin-right: 10px;
  }
  .scroll-Arrow{
    height: 50px;
    width: 50px;
  }  
  .uparrow {
    padding: 0.65em;
    font-size: 18px;
  }
}
@media (min-width: 0px) and (max-width: 575.98px) {
  .navbar {
    position: relative;
  }
  .navbar-brand {
    font-size: 1rem;
  }
  .hideOnMobile{
    display: none;
  }
  .hideOnLargeScreen{
    display: flex;
  }
  .theme{
    margin-left: 10px;
    margin-right: 10px;
  }
  .scroll-Arrow{
    height: 45px;
    width: 45px;
  }  
  .uparrow {
    padding: 0.65em;
    font-size: 15px;
  }
}